<div class="row mt-3">
    <div class="col-md-8 mx-auto">
        <div class="card shadow">
            <div class="card-header">
                <h3 class="text-center bg-primary text-secondary p-4">Agregar Nuevo Miembro al Club</h3>
                <div class="card-body">
                    <form action="/members/add" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" placeholder="Nombre" autofocus required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="id_card" class="form-control"
                                placeholder="Cédula o Documento de Identifcación" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlFile1">Ingrese imagen de perfil</label>
                            <input type="file" class="form-control-file" name="img_file_member"
                                id="exampleFormControlFile1" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="positions" class="form-control"
                                placeholder="Posición en la que juega" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="alias" class="form-control" placeholder="Alias">
                        </div>
                        <div class="form-group">
                            <textarea type="text" name="archievements" class="form-control"
                                placeholder="Logros deportivos obtenidos"></textarea>
                        </div>
                        {{!-- <div class="form-group">
                            <input type="text" name="role" class="form-control" placeholder="Role">
                        </div> --}}
                        <div class="form-group">
                            <h3 class=" my-3">Role</h3>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="role" id="exampleRadios1"
                                    value="jugador" checked>
                                <label class="form-check-label" for="exampleRadios1">
                                    Jugador
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="role" id="exampleRadios2"
                                    value="entrenador">
                                <label class="form-check-label" for="exampleRadios2">
                                    Entrenador
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <h3 class=" my-3">Categoria</h3>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="current_category" id="exampleRadios1"
                                    value="Élite Masculino">
                                <label class="form-check-label" for="exampleRadios1">
                                    Élite Masculino
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="current_category" id="exampleRadios2"
                                    value="Élite Fememina">
                                <label class="form-check-label" for="exampleRadios2">
                                    Élite Fememina
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="current_category" id="exampleRadios1"
                                    value="Ascenso">
                                <label class="form-check-label" for="exampleRadios1">
                                    Ascenso
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="current_category" id="exampleRadios2"
                                    value="Iniciación" checked>
                                <label class="form-check-label" for="exampleRadios2">
                                    Iniciación
                                </label>
                            </div>
                        </div>
                        {{!-- <div class="form-group">
                            <input type="text" name="current_category" class="form-control" placeholder="Categoria">
                        </div> --}}



                        <div class="form-group">
                            <button class="btn btn-primary btn-block">
                                Agregar Miembro
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>