<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card shadow mt-3">
            <div class="card-header">
                <h3 class="text-center bg-primary text-white p-4">Agregar Nueva Categoria</h3>
                <div class="card-body">
                    <form action="/categories/add" method="POST" enctype="multipart/form-data">
                        <div class="form-group mb-2">
                            <input type="text" name="name" class="form-control" placeholder="Nombre de la categoria" autofocus>
                        </div>
                        <div class="form-group mb-2">
                            <label for="exampleFormControlFile1">Ingrese imágen de la categoria</label>
                            <input type="file" class="form-control-file" name="img_file_category" id="exampleFormControlFile1">
                        </div>
                        <div class="form-group mb-2">
                            <textarea name="description" placeholder="Descripción" rows="10"
                                id="description_form_article" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block">
                                Agregar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>