<div class="row">
    <div class=" col-12 fw-bold justify-content-center text-primary text-center">
        <h1 class="text-uppercase fw-bold display-4">contáctanos</h1>
        <p>
            Si tienes alguna pregunta, duda o sugerencia, déjanos saber, por medio de nuestras redes sociales o vía
            correo.
        </p>
    </div>
</div>

<div class="container-fluid my-3 py-3">
    <div class="row">
        <div class=" col-md-12 col-lg-6">
            <iframe id="map" class="ratio ratio-2x2"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.065036491457!2d-75.59383348474921!3d6.255162527958793!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e44290ea7679f41%3A0x22c97971d770b4ef!2sComplejo%20Acu%C3%A1tico%20Atanasio%20Girardot!5e0!3m2!1ses!2sco!4v1610310649815!5m2!1ses!2sco"
                width="600" height="620" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                tabindex="0"></iframe>
        </div>
        <div class=" col-md-12 col-lg-6">
            <div class="card shadow bg-primary">
                <div class="card-header">
                    <div class="card-body text-third">
                        <form action="/send-email" method="POST">
                            <h3 class="text-uppercase">nombre</h3>
                            <div class="input-group mb-3">
                                <input type="text" name="firstname" class="form-control mr-2" placeholder="Nombre">
                                <input type="text" name="lastname" class="form-control" placeholder="Apellidos">
                            </div>
                            <h3 class="text-uppercase">email</h3>
                            <div class="input-group mb-3">
                                <input name="email" type="text" class="form-control" placeholder="email"
                                    aria-label="email">
                            </div>
                            <h3 class="text-uppercase">teléfono</h3>
                            <div class="input-group mb-3">
                                <input name="phone" type="text" class="form-control" placeholder="número celular"
                                    aria-label="phone">
                            </div>

                            <h3 class="text-uppercase">mensaje</h3>
                            <div class="input-group">
                                <textarea name="message" class="form-control" rows="8"
                                    aria-label="With textarea"></textarea>
                            </div>

                            <button class="text-uppercase btn btn-secondary btn-block">
                                enviar
                            </button>

                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row mt-5">
        <div class="col text-center text-primary ">
            <h4 class="fw-bolder">
                MEDELLIN | Carrera 72 # 48-100
            </h4>
            <h4 class="fw-bolder">
                CORREO | clubecomaresweb@gmail.com
            </h4>
        </div>
    </div>
</div>