{{!-- <div class="header-video" id="videoBG">
    <video src="videos/medusas.mp4" poster="images/captura1.jpg" autoplay muted loop></video>
</div> --}}

<article class="row my-5">
    <div class="col-12 d-flex align-items-lg-center justify-content-center">
        <img class="mx-auto d-block" src="images/logo azul.png" width="50%" alt="portada">
    </div>
    <div class="col-10 mx-auto mt-2 text-center">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique libero beatae aspernatur sed soluta
            deserunt
            aliquam a omnis, tenetur esse! Quaerat eaque aliquam, exercitationem quia ducimus quo architecto. Tempore,
            non!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum iste laudantium possimus repellat
            reprehenderit magnam, minus officiis, suscipit culpa odit, quam harum cupiditate molestiae nihil maiores
            provident odio quae tenetur.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos nostrum nisi illum.
        </p>

    </div>

</article>
<article class="row text-center text-decoration-none">
    <div class="capsule col-12">
        <figure>
            <img src="images/rugby3.jpg" class="" alt="imagen1">
            <div class="capa">
                <ul class="list-unstyled">
                    <li><a href="/categories">categorias</a></li>
                    {{!-- <li><a href="">entrenadores</a></li> --}}
                    <li><a href="/uniforms">uniformes</a></li>
                </ul>
            </div>
        </figure>
    </div>

    <div class="capsule col-md-4">
        <figure>
            <img src="images/rugby1.jpg" width="90%" alt="imagen2">
            <div class="capa">
                <ul class="list-unstyled">
                    {{!-- <li><a href="">triunfos</a></li>
                    <li><a href="">historia</a></li>
                    <li><a href="">mascota</a></li> --}}
                </ul>
            </div>
        </figure>
    </div>
    <div class="capsule col-md-4">
        <figure>
            <img src="images/rugby2.jpg" width="90%" alt="imagen3">
            <div class="capa">
                <ul class="list-unstyled">
                    {{!-- <li><a href="">copa ecomares</a></li>
                    <li><a href="">torneos</a></li> --}}
                    <li><a href="/members">integrantes</a></li>
                </ul>
            </div>
        </figure>

    </div>
    <div class="capsule col-md-4">
        <figure>
            <img src="images/rugby4.jpg" width="90%" alt="imagen4">
            <div class="capa">
                <ul class="list-unstyled">
                    <li><a href="/contact">contactanos</a></li>
                    <li><a href="/blog">blog</a></li>
                </ul>
            </div>
        </figure>
    </div>
</article>