<!--NAVBAR-->
<nav class="container-fluid">
    <input type="checkbox" id="check">
    <label for="check" id="lines">
        <i class="fas fa-bars" id="btn"></i>
        <i class="fas fa-times" id="cancel"></i>
    </label>

    <a href="/"><img width="8%" src="/images/cascoBLANCO.png" alt="logo-portafolio"></a>
    
    <ul>
        <li><a href="">
                Rugby Subacuático
            </a>
        </li>
        <li><a href="/user/signup">
                Registrate
            </a>
        </li>
    </ul>
</nav>